@model IEnumerable<DBEntities.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.middleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.initialContactDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.initialContactNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spouseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additionalNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.middleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.initialContactDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.initialContactNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spouseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additionalNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
